@media screen and (min-width: 1250px) {

    /*------------------------ Header/menu--------------------*/
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    /* Header */

    header {
        display: grid;
        align-items: center;
        grid-template-columns: 20% 45% 10% 15% 10%;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
        height: 12vh;
        position: sticky;
        top: 0;
        opacity: 1.0;
        background-color: white;
    }




    /* Logo/image*/
    .logo-association {
        width: 70%;
        padding-left: 2%;
        padding-top: 2%;
    }

    .img-user {
        grid-column: 3;
        width: 40%;
        margin: auto;
    }

    /* Boutton déconnexion*/
    .h-deconnexion {
        cursor: pointer;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column;
    }

    .icone_deconnexion {
        margin-right: 0;
        height: 5vh;
        border: 1px solid #271a38;
        padding: 0.5rem 0.625rem;
        border-radius: 50%;
    }


    /*------------------------ Body--------------------*/

    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        background: linear-gradient(0deg, rgba(255, 198, 76, 1) 0%, rgba(69, 45, 253, 1) 100%);
    }

    main {
        display: grid;
        grid-template-columns: 20% 1fr;
        min-height: 85vh;
        margin: 2%;
        border-radius: 10px;
        color: #005097;
    }

    .hidden {
        display: none;
        margin: 1%;
    }


    [role="alertdialog"],
    [role="dialog"] {
        box-sizing: border-box;
        padding: 15px;
        border: 1px solid #000;
        background-color: #fff;
        min-height: 100vh;
    }

    @media screen and (min-width: 640px) {

        [role="alertdialog"],
        [role="dialog"] {
            position: absolute;
            top: 2rem;
            left: 50vw;
            /* move to the middle of the screen (assumes relative parent is the body/viewport) */
            transform: translateX(-50%);
            /* move backwards 50% of this element's width */
            min-width: calc(640px - (15px * 2));
            /* == breakpoint - left+right margin */
            min-height: auto;
            box-shadow: 0 19px 38px rgb(0 0 0 / 12%), 0 15px 12px rgb(0 0 0 / 22%);
        }
    }

    .dialog_label {
        text-align: center;
    }

    .dialog_form {
        margin: 15px;
    }

    .dialog_form .label_text {
        box-sizing: border-box;
        padding-right: 0.5em;
        display: inline-block;
        font-size: 16px;
        font-weight: bold;
        width: 30%;
        text-align: right;
    }

    .dialog_form .label_info {
        box-sizing: border-box;
        padding-right: 0.5em;
        font-size: 12px;
        width: 30%;
        text-align: right;
        display: inline-block;
    }

    .dialog_form_item {
        margin: 10px 0;
        font-size: 0;
    }

    .dialog_form_item .wide_input {
        box-sizing: border-box;
        max-width: 70%;
        width: 27em;
    }

    .dialog_form_item .city_input {
        box-sizing: border-box;
        max-width: 70%;
        width: 17em;
    }

    .dialog_form_item .state_input {
        box-sizing: border-box;
        max-width: 70%;
        width: 15em;
    }

    .dialog_form_item .zip_input {
        box-sizing: border-box;
        max-width: 70%;
        width: 9em;
    }

    .dialog_form_actions {
        text-align: right;
        padding: 0 20px 20px;
    }

    .dialog_close_button {
        float: right;
        position: absolute;
        top: 10px;
        left: 92%;
        height: 25px;
    }

    .dialog_close_button img {
        border: 0;
    }

    .dialog_desc {
        padding: 10px 20px;
    }


    /* native <dialog> element uses the ::backdrop pseudo-element */


    /* dialog::backdrop, */

    .dialog-backdrop {
        display: none;
        position: fixed;
        overflow-y: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .dialog-backdrop.active {
        display: block;
    }

    .no-scroll {
        overflow-y: auto !important;
    }


    /* this is added to the body when a dialog is open */

    .has-dialog {
        overflow: hidden;
    }


    /* styling for alert-dialog example */

    .notes {
        display: block;
        font-size: 1rem;
        line-height: 1.3;
        min-width: 400px;
        max-width: 100%;
        width: 33%;
    }

    .visually-hidden {
        border: 0;
        clip: rect(0 0 0 0);
        height: auto;
        margin: 0;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
        white-space: nowrap;
    }

    #notes_save {
        display: inline-flex;
        align-items: center;
        gap: 0.5rem;
    }

    #notes_save svg {
        display: block;
        width: 0.75rem;
    }

    #notes_save .icon {
        display: none;
    }

    #notes_save.loading .spinner {
        display: block;
        animation: rotate 2s linear infinite;
    }

    #notes_save.saved .check {
        display: block;
    }




    /*titre*/

    .titletype {
        text-align: center;
        background-color: white;
        letter-spacing: 1px;
        color: black;
        padding: 10px 10%;
        border-radius: 10px;
        margin: auto;
    }



    /*conteneur */

    .choix-systeme {
        background-color: transparent;
    }

    .four {
        width: 32.26%;
    }


    img.img-systeme {
        height: 10vh;
    }



    /* colones */

    .col {
        float: left;
        margin: 1% 0 1% 1.6%;
    }

    .col:first-of-type {
        height: 25vh;
    }


    /* titre */

    .choix-objectif,
    .choix-recompense {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
    }



    .image_product {
        display: flex;
        height: 25vh;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
    }


    .content {
        margin-top: 0px;
        margin-bottom: 30px;
        height: fit-content;
        text-align: center;
    }



    /* form */

    .forme .choix-objectif input,
    .forme .choix-recompense input,
    .forme .payment-type input {
        display: none;
        margin: 1%;
    }




    .forme label {
        height: 25vh;
        background-color: #fff;
        display: block;
        cursor: pointer;
        box-sizing: border-box;
        border-radius: 10px;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    }

    .forme label:hover {
        cursor: pointer;
        transform: scale(1.1);
    }

    .forme .choix-objectif input:checked+label,
    .forme .choix-recompense input:checked+label,
    .forme .payment-type input:checked+label {
        color: black;
        background: #007bff;
    }

    .forme .choix-objectif input:checked+label:after,
    .forme .choix-recompense input:checked+label:after,
    .forme .payment-type input:checked+label:after {
        width: 40px;
        height: 40px;
        line-height: 40px;
        border-radius: 100%;
        background: linear-gradient(101deg, rgb(255, 198, 76) 0%, rgb(69, 45, 253) 100%);
        vertical-align: middle;
        z-index: 999;
        position: absolute;
        top: -10px;
        right: -10px;
        text-align: center;
    }


    form.forme.titre {
        display: flex;
        flex-direction: column;
        height: 100vh;
        flex-wrap: nowrap;
        justify-content: space-between;
    }



    .retour {
        display: inline-block;
        position: initial;
        padding: 10px 20px;
        margin: auto;
        font-size: 16px;
        border: none;
        border-radius: 5px;
        background-color: #007bff;
        cursor: pointer;
        transition: all 0.3s;

    }


    .retour:hover {
        background-color: #fec107;
    }


    .button-retour{
        background-color: transparent;
        border: none;
    }


    .detail1,
    .detail2,
    .detail3,
    .detail4{    
        border: none;
        cursor: pointer;
        color: black;
        border-radius: 5px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        transition: 0.5s;
        display: none;
     
    }

    .detail1:hover:before,
    .detail2:hover:before,
    .detail3:hover:before,
    .detail4:hover:before{
        width: 52vh;
        height: 25vh;
        border-radius: 10px;
        left: 0px;
        top:0px;
        position:absolute;
        background-color: whitesmoke;
              
    }

    .detail1:hover::before{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.0rem;

        content: "Système de type 'chargement', organisé comme une barre de progression qui avance, au fur et à mesure que les jetons sont placés";
    }

    .detail2:hover::before{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.0rem;

        content: "Système qui se compose de tâche qui sont répétées sur 1 semaines, a la manière d'un contrat";
    }

    .detail3:hover::before{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.0rem;

        content: "L'ensemble du système est orienté vers un prix unique";
    }

    .detail4:hover::before{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.0rem;
        content: "L'ensemble du système est orienté vers un magasin de récompense dans lequel il est possible de choisir une récompense";
    }


    a {
        text-decoration: none;
        color: black;
    }

    p {
        font-size: 15px;
        color: black;
    }


    .div-photo-enfant {
        height: 20vh;
    }



    .bouton-objectif {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        margin-bottom: 10px;
        flex-direction: row;
    }

    .valider {
        background-color: #4CAF50;
        border: none;
        border-radius: 10px;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }


    .valider:hover {
        background-color: #45a049;
    }



    .annuler {
        background-color: #e74c3c;
        border: none;
        color: white;
        border-radius: 10px;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }


    .annuler:hover {
        background-color: #d14a3c;
    }





    .info-enfant {
        display: grid;
        height: 100vh;
        width: 40vh;
        border-radius: 10px;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
        margin: auto;
        text-align: center;
        background-color: #fff;
    }



    .photo-enfant {
        display: grid;
        text-align: center;
        border-radius: 15px;
        width: 40%;
        height: 80%;
        margin: auto;

    }
}











/* SUR TELEPHONE  */

@media screen and (max-width: 1250px) {


    /*------------------------ Header/menu--------------------*/


    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }


    /* Header */

    table,
    td {
        border-collapse: collapse;
        padding: 1rem;
    }

    header {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 50% 1fr;
        height: 10vh;
        background-color: rgb(255, 255, 255);
    }

    /* Logo/image*/
    .logo-association {
        width: 50%;
        padding-left: 2%;
        padding-top: 2%;
    }

    .img-user {
        display: none;
        grid-column: 3;
        width: 40%;
        margin: auto;
    }

    .img_equipe {
        width: 3%;
        margin: auto;
    }

    /* Boutton déconnexion*/
    .h-deconnexion {
        cursor: pointer;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .icone_deconnexion {
        height: 5vh;
        border: 1px solid #271a38;
        padding: 0.5rem 0.625rem;
        border-radius: 50%;
    }


    .nom-utilisateur {
        font-size: 2.5rem;
        color: #271a38;
        margin: 0;
    }

    /*------------------------ Body--------------------*/

    body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 100vh;
        background: linear-gradient(0deg, rgba(255, 198, 76, 1) 0%, rgba(69, 45, 253, 1) 100%);
        font-family: Inter var, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    }

    main {
        display: flex;
        height: 100vh;
        margin: 2%;
        flex-direction: column;
    }




    .info-enfant {
        display: grid;
        border-radius: 20px;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
        background-color: white;
    }


    .choix-systeme {
        margin-top: 5%;
        border-radius: 20px;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
        background-color: white;
    }



    
    .retour:hover {
        background-color: #fec107;
    }


    .button-retour{
        background-color: transparent;
        border: none;
    }
    



    .retour {
        display: inline-block;
        position: initial;
        padding: 10px 20px;
        margin: auto;
        font-size: 16px;
        border: none;
        border-radius: 5px;
        background-color: #007bff;
        cursor: pointer;
        transition: all 0.3s;

    }


    .retour:hover {
        background-color: #fec107;
    }


    a {
        text-decoration: none;
        color: black;
    }


    .div-photo-enfant {
        height: 20vh;
    }
    




    .bouton-objectif {
        display: flex;
        justify-content: center;
        flex-direction: row;
        margin-top: 5%;
        
    }

    .valider {
        background-color: #4CAF50;
        border: none;
        border-radius: 10px;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }


    .valider:hover {
        background-color: #45a049;
    }



    .annuler {
        background-color: #e74c3c;
        border: none;
        color: white;
        border-radius: 10px;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }


    .annuler:hover {
        background-color: #d14a3c;
    }



    img.img-systeme {
        height: 60px;
    }

    .titletype {
        text-align: center;
        background-color: whitesmoke;
        border: solid 1px;
        color: black;
        padding: 10px 5%;
        border-radius: 10px;
     margin: auto;
        width: 55%;
    }



    .div-photo-enfant {
        height: 0vh;
    }


    .photo-enfant {
        display: grid;
        text-align: center;
        border-radius: 15px;
        width: 10vh;
        height: 7vh;
        margin: auto;

    }

    .info-enfant {
        height: 25vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        
    }

    .forme .choix-objectif input,
    .forme .choix-recompense input,
    .forme .payment-type input {
        display: none;
        margin: 1%;
    }

    .forme label {
        background-color: #fff;
        display: block;
        cursor: pointer;
        box-sizing: border-box;
        border-radius: 10px;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
        width: 20vh;
    }

    .forme label:hover {
        cursor: pointer;

    }

    .forme .choix-objectif input:checked+label,
    .forme .choix-recompense input:checked+label,
    .forme .payment-type input:checked+label {
        color: #fff;
        background: #007bff;
    }


    .col {
        float: left;
        margin: 1% 0 1% 1.6%;
    }

    .col:first-of-type {
        height: 15vh;
        width: 20vh;
    }

    .choix-objectif,
    .choix-recompense {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
    }


    .image_product {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
    }


    .content {
        margin-top: 0px;
        margin-bottom: 30px;
        height: fit-content;
        text-align: center;
    }

    .id-enfant,
    .id-enfants,
    .id-enfan  {
        /*place le texte au mileu*/
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        font-size: 1.rem;
    }



}