body {
    display: flex;
    min-height: 100vh;
    background: linear-gradient(0deg, rgba(255, 198, 76, 1) 0%, rgba(69, 45, 253, 1) 100%);
}

.all {
    box-shadow: 0 0 12px 12px rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    width: 500px;
    height: 400px;
    padding: 5%;
    background-color: white;
    margin: auto;
    border-radius: 10px;
}

.title {
    width: 10%;
}

.list_msg {
    border: solid 1px;
    border-radius: 10px;
    width: 110%;
    height: 60%;
    padding: 2%;
    overflow-y: scroll;
}

.vous {
    text-align: right;
}

.autre {
    text-align: left;
}

.envoi_msg {
    height: 40%;
    margin-top: 10%;
}

.messages {
    width: 100%;
}

.sujet {
    width: 70%;
}

.sujet_msg {
    font-size: 100%;
    text-align: center;
}

.txt_msg {
    font-size: 100%;
}

.envoi {
    font-size: 100%;
}

.retour {
    width: 1%px;
    height: 1%
}