@font-face {
    font-family: 'fs_mebold';
    src: url('fonts/fs_me-bold-webfont.woff2') format('woff2'), url('fonts/fs_me-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

a {
    text-align: center;
}

img {
    max-height: 80px;
    max-width: 80px;
}

:root {
    --couleur: rgb(200, 212, 212);
}

body {
    background-color: var(--couleur);
}

table {
    border-collapse: collapse;
    /* border:solid black 2px; */
    padding: 1rem;
    /* border-radius: 20%; */
    background-color: white;
}

.struct {
    border-collapse: collapse;
    border: solid var(--couleur) 2px;
    padding: 1rem;
    border-radius: 0%;
    background-color: white;
}

td {
    border-collapse: collapse;
    border: solid var(--couleur) 2px;
    padding: 1rem;
    background-color: rgb(255, 255, 255);
}

.case_blanche {
    /* border-collapse:collapse; */
    /* border:solid black 2px; */
    width: 5rem;
    height: 5rem;
    padding: 1rem;
    border-radius: 20%;
    background-color: rgb(33, 146, 52);
}

.sys {
    display: flex;
    justify-content: center;
    width: fit-content;
}

.case_jeton {}

h1 {
    font-family: 'fs_mebold';
    font-size: 48px;
    font-weight: normal;
    font-style: normal;
    text-align: center;
}

p {
    font-family: 'fs_mebold';
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    text-align: center;
}

.jeton {
    max-width: fit-content;
}