* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*------------------------ Header/menu--------------------*/

@media screen and (min-width: 1250px) {
    /* Header */
    table,
    td {
        border-collapse: collapse;
        padding: 0.7rem;
    }
    a {
        text-decoration: none;
        color: black;
    }
    p.info {
        border: solid 1px #000;
        border-radius: 100px;
        margin: auto;
        width: 90%;
        transition: all 0.3s;
        padding: 5px 4%;
    }
    /*--------SEPARATION----------*/
    .divider {
        /* minor cosmetics */
        display: table;
        font-size: 100%;
        text-align: center;
        width: 100%;
        /* divider width */
        margin: 20px auto;
        /* spacing above/below */
    }
    .divider span {
        display: table-cell;
        position: relative;
    }
    .divider span:first-child,
    .divider span:last-child {
        width: 50%;
        top: 13px;
        /* adjust vertical align */
        -moz-background-size: 100% 2px;
        /* line width */
        background-size: 100% 2px;
        /* line width */
        background-position: 0 0, 0 100%;
        background-repeat: no-repeat;
    }
    .divider span:first-child {
        /* color changes in here */
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(#6666c4));
        background-image: -webkit-linear-gradient(180deg, transparent, #6666c4);
        background-image: -moz-linear-gradient(180deg, transparent, #6666c4);
        background-image: -o-linear-gradient(180deg, transparent, #6666c4);
        background-image: linear-gradient(90deg, transparent, #6666c4);
    }
    .divider span:nth-child(2) {
        font-weight: 600;
        color: #000;
        padding: 0px 5px;
        width: auto;
        white-space: nowrap;
    }
    .divider span:last-child {
        /* color changes in here */
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6666c4), to(transparent));
        background-image: -webkit-linear-gradient(180deg, #6666c4, transparent);
        background-image: -moz-linear-gradient(180deg, #6666c4, transparent);
        background-image: -o-linear-gradient(180deg, #6666c4, transparent);
        background-image: linear-gradient(90deg, #6666c4, transparent);
    }
    /*------------------*/
    header {
        display: grid;
        align-items: center;
        grid-template-columns: 20% 45% 10% 15% 10%;
        grid-template-rows: 100%;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
        height: 12vh;
        position: sticky;
        top: 0;
        opacity: 1.0;
        background-color: white;
    }
    /* Logo/image*/
    .logo-association {
        width: 70%;
        padding-left: 2%;
        padding-top: 2%;
    }
    .img-user {
        grid-column: 3;
        width: 40%;
        margin: auto;
    }
    /* Boutton déconnexion*/
    .h-deconnexion {
        cursor: pointer;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column;
    }
    .img-deco {
        width: 40%;
        margin: auto;
    }
    /*------------------------ Body--------------------*/
    body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 100vh;
        background: linear-gradient(0deg, rgba(255, 198, 76, 1) 0%, rgba(69, 45, 253, 1) 100%);
        font-family: Inter var, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    }
    main {
        display: grid;
        grid-template-columns: 23% 1fr;
        min-height: 85vh;
        margin: 2%;
        border-radius: 10px;
    }
    .left-contenu {
        height: 85vh;
        box-shadow: 0 10px 20px rgb(0 0 0 / 15%), 0 1px 5px rgb(0 0 0 / 22%);
        border-radius: 20px;
        overflow: auto;
        background-color: #fff;
        color: black;
    }
    .right-contenu {
        background-color: transparent;
        border-radius: 10px;
        height: 85vh;
        display: flex;
        align-items: center;
    }
    /*------------------------ Menu liste des membres (gauche)--------------------*/
    .nav-links li.active:not(.md-header-toolbar) a,
    .nav-links li.active:not(.md-header-toolbar) button,
    .nav-links li:not(.md-header-toolbar) a.active {
        color: #000;
        background-color: #fff;
        box-shadow: inset 0 5px 0 0 var(--gl-theme-accent, #007bff);
    }
    .nav-links li:not(.md-header-toolbar) a,
    .nav-links li:not(.md-header-toolbar) button {
        padding: 1rem 0.75rem;
        font-size: 0.875rem;
        line-height: 1rem;
        color: #737278;
        border: 0;
        white-space: nowrap;
    }
    .gl-tab-nav-item-active {
        font-weight: 600;
        color: #333238;
        background-color: #fff;
        box-shadow: inset 0 2px 0 0 var(--gl-theme-accent, #007bff);
    }
    .nav-item {
        width: 50%;
    }
    .gl-tab-nav-item {
        display: flex;
        justify-content: center;
        overflow: hidden;
        transition: box-shadow 100ms linear;
    }
    .nav-link {
        text-decoration: none;
        background-color: transparent;
    }
    .nav-links {
        display: flex;
        padding: 0;
        margin: 0;
        list-style: none;
        height: auto;
        width: 100%;
    }
    /* Boutton ajouter un membre*/
    .ajouter-membre {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        padding: 7px 15px;
        border-radius: 10px;
        font-size: 12px;
        border: none;
        color: white;
        background-color: #007bff;
        cursor: pointer;
        transition: all 0.3s;
    }
    .ajouter-membre:hover {
        background-color: #fec107;
    }
    a {
        text-decoration: none;
        color: black;
    }
    .acceder-information-membre {
        display: block;
        padding: 5px 5px;
        border-radius: 10px;
        font-size: 10px;
        border: none;
        color: white;
        background-color: #007bff;
        cursor: pointer;
        transition: all 0.3s;
    }
    .acceder-information-membre:hover {
        background-color: #fec107;
    }
    .invalider {
        background-color: #e74c3c;
        border: none;
        color: white;
        border-radius: 10px;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }
    .modif-certif {
        display: inline-block;
        position: initial;
        padding: 10px 20px;
        font-size: 16px;
        border: none;
        border-radius: 5px;
        color: black;
        background-color: rgb(202, 196, 196);
        cursor: pointer;
        transition: all 0.3s;
    }
    .icone-ajouter-membre {
        margin: 0;
        height: 25px;
        cursor: pointer;
    }
    .bouton_tuteur {
        margin: auto;
        width: 50%;
    }
    table.no-break {
        margin-top: 5%;
    }
    .ajouter_utilisateur {
        padding-left: 0%;
    }
    .acces-membre {
        margin-left: 40%;
        border-radius: none;
    }
    .section_membre {
        display: grid;
        grid-template-columns: 50vh auto;
        grid-template-rows: 40vh 1fr;
        height: 65vh;
        width: 100%;
        box-shadow: 0 0 10px 0 rgb(0 0 0 / 20%), 0 5px 5px 0 rgb(0 0 0 / 24%);
        border-radius: 10px;
        background-color: white;
        margin-left: 5%;
    }
    /* Pop-up JS ajouter un membre*/
    .hidden {
        display: none;
    }
    [role="alertdialog"],
    [role="dialog"] {
        box-sizing: border-box;
        padding: 15px;
        border: 1px solid #000;
        background-color: #fff;
        min-height: 100vh;
    }
    @media screen and (min-width: 640px) {
        [role="alertdialog"],
        [role="dialog"] {
            position: absolute;
            top: 8rem;
            left: 50vw;
            /* move to the middle of the screen (assumes relative parent is the body/viewport) */
            transform: translateX(-50%);
            /* move backwards 50% of this element's width */
            min-width: calc(640px - (15px * 2));
            /* == breakpoint - left+right margin */
            min-height: auto;
            box-shadow: 0 19px 38px rgb(0 0 0 / 12%), 0 15px 12px rgb(0 0 0 / 22%);
            border-radius: 10px;
        }
    }
    a {
        text-decoration: none;
        color: black;
    }
    .dialog_label {
        text-align: center;
    }
    .dialog_form {
        margin: 15px;
    }
    .dialog_form .label_text {
        box-sizing: border-box;
        padding-right: 0.5em;
        display: inline-block;
        font-size: 16px;
        font-weight: bold;
        width: 30%;
        text-align: right;
    }
    .dialog_form .label_info {
        box-sizing: border-box;
        padding-right: 0.5em;
        font-size: 12px;
        width: 30%;
        text-align: right;
        display: inline-block;
    }
    .dialog_form_item {
        margin: 10px 0;
        font-size: 0;
    }
    .dialog_form_item .wide_input {
        box-sizing: border-box;
        max-width: 70%;
        width: 27em;
    }
    .dialog_form_item .city_input {
        box-sizing: border-box;
        max-width: 70%;
        width: 17em;
    }
    .dialog_form_item .state_input {
        box-sizing: border-box;
        max-width: 70%;
        width: 15em;
    }
    .dialog_form_item .zip_input {
        box-sizing: border-box;
        max-width: 70%;
    }
    .dialog_form_actions {
        text-align: right;
        padding: 0 20px 20px;
    }
    .dialog_close_button {
        float: right;
        position: absolute;
        top: 10px;
        left: 92%;
        height: 25px;
    }
    .dialog_close_button img {
        border: 0;
    }
    .dialog_desc {
        padding: 10px 20px;
    }
    /* native <dialog> element uses the ::backdrop pseudo-element */
    /* dialog::backdrop, */
    .dialog-backdrop {
        display: none;
        position: fixed;
        overflow-y: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    .dialog-backdrop.active {
        display: block;
        backdrop-filter: blur(15px);
        background-color: rgba(45, 45, 49, 0.5);
    }
    .no-scroll {
        overflow-y: auto !important;
    }
    /* this is added to the body when a dialog is open */
    .has-dialog {
        overflow: hidden;
    }
    /* styling for alert-dialog example */
    .notes {
        display: block;
        font-size: 1rem;
        line-height: 1.3;
        min-width: 400px;
        max-width: 100%;
        width: 33%;
    }
    .visually-hidden {
        border: 0;
        clip: rect(0 0 0 0);
        height: auto;
        margin: 0;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
        white-space: nowrap;
    }
    #notes_save {
        display: inline-flex;
        align-items: center;
        gap: 0.5rem;
    }
    #notes_save svg {
        display: block;
        width: 0.75rem;
    }
    #notes_save .icon {
        display: none;
    }
    #notes_save.loading .spinner {
        display: block;
        animation: rotate 2s linear infinite;
    }
    #notes_save.saved .check {
        display: block;
    }
    /*------------------------ Menu information sur le membre (droite)--------------------*/
    .membre {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 60% 50%;
        height: 50%;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
        border-radius: 10px;
        background-color: white;
        margin-left: 3%;
        margin-right: 3%;
    }
    .case-membre {
        display: grid;
        place-items: center;
    }
    .img-tuteur {
        width: 40%;
        border-radius: 100%;
        position: initial;
        border: solid 1px;
    }
    .case-membre_1 {
        display: grid;
        place-items: center;
    }
    .case-membre_2 {
        display: grid;
        place-items: center;
    }
    .case-3-infos {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        margin: 2%;
        font-size: 100%;
    }
    textarea {
        height: 95%;
        width: 95%;
    }
    .logo-membre {
        height: 90%;
    }
    .text-complementaire {
        height: 90%;
        margin-left: 5%;
        border-radius: 10px;
    }
    .cns {
        margin: auto;
        margin-top: 2%;
        color: black;
        font-size: 100%;
        border-radius: 10px;
        background-color: #fff;
        width: 90%;
        text-align: center;
    }
    .cns:hover {
        color: #fff;
        cursor: pointer;
        background: linear-gradient(101deg, rgb(255, 198, 76) 0%, rgb(69, 45, 253) 100%);
    }
    .certifmembre {
        background-color: #4CAF50;
        border: none;
        border-radius: 10px;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }
    .grille_4_cases {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 80% auto;
    }
    .grille_2_cases {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    button {
        display: block;
        padding: 5px 10px;
        border-radius: 10px;
        font-size: 9px;
        border: none;
        background-color: #007bff;
        cursor: pointer;
        transition: all 0.3s;
        margin: 0.5px;
        color: #fff;
    }
    button:hover {
        background-color: #fec107;
    }
    .titre_list {
        visibility: hidden;
    }
}


/*
    _____________________________________________________________
    _____________________________________________________________
    _____________________________________________________________
    _____________________________________________________________
    _____________________________________________________________
    _____________________________________________________________
        _____________________________________________________________
        _____________________________________________________________
        _____________________________________________________________
        _____________________________________________________________
        _____________________________________________________________
        _____________________________________________________________
        _____________________________________________________________
        _____________________________________________________________
        _____________________________________________________________
        _____________________________________________________________
        _____________________________________________________________
        _____________________________________________________________
        _____________________________________________________________
        _____________________________________________________________
        _____________________________________________________________
        _____________________________________________________________

        */


/* affichage téléphone */

@media screen and (max-width: 1250px) {
    /* Header */
    table,
    td {
        margin: auto;
        border-collapse: collapse;
        padding: 0.5rem;
    }
    a {
        text-decoration: none;
        color: black;
    }
    .Profil {
        border-collapse: collapse;
        padding: 1rem;
        text-align: left;
    }
    .Profil2 {
        border-collapse: collapse;
        padding: 1rem;
        text-align: left;
    }
    /*--------SEPARATION----------*/
    .divider {
        /* minor cosmetics */
        display: table;
        font-size: 100%;
        text-align: center;
        width: 100%;
        /* divider width */
        margin: 20px auto;
        /* spacing above/below */
    }
    .divider span {
        display: table-cell;
        position: relative;
    }
    .divider span:first-child,
    .divider span:last-child {
        width: 50%;
        top: 13px;
        /* adjust vertical align */
        -moz-background-size: 100% 2px;
        /* line width */
        background-size: 100% 2px;
        /* line width */
        background-position: 0 0, 0 100%;
        background-repeat: no-repeat;
    }
    .divider span:first-child {
        /* color changes in here */
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(#6666c4));
        background-image: -webkit-linear-gradient(180deg, transparent, #6666c4);
        background-image: -moz-linear-gradient(180deg, transparent, #6666c4);
        background-image: -o-linear-gradient(180deg, transparent, #6666c4);
        background-image: linear-gradient(90deg, transparent, #6666c4);
    }
    .divider span:nth-child(2) {
        font-weight: 600;
        color: #000;
        padding: 0px 5px;
        width: auto;
        white-space: nowrap;
    }
    .divider span:last-child {
        /* color changes in here */
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6666c4), to(transparent));
        background-image: -webkit-linear-gradient(180deg, #6666c4, transparent);
        background-image: -moz-linear-gradient(180deg, #6666c4, transparent);
        background-image: -o-linear-gradient(180deg, #6666c4, transparent);
        background-image: linear-gradient(90deg, #6666c4, transparent);
    }
    /*------------------*/
    header {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 50% 1fr;
        height: 10vh;
        background-color: rgb(255, 255, 255);
    }
    /* Logo/image*/
    .logo-association {
        width: 65%;
        margin: auto;
    }
    .img-user {
        display: none;
        grid-column: 3;
        width: 40%;
        margin: auto;
    }
    .img_equipe {
        width: 3%;
        margin: auto;
    }
    /* Boutton déconnexion*/
    .h-deconnexion {
        cursor: pointer;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .img-deco {
        width: 40%;
        margin: auto;
    }
    /*------------------------ Body--------------------*/
    body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: linear-gradient(0deg, rgba(255, 198, 76, 1) 0%, rgba(69, 45, 253, 1) 100%);
    }
    main {
        margin: 2%;
        border-radius: 10px;
        font-size: 15px;
    }
    .left-contenu {
        text-align: center;
        overflow: auto;
        box-shadow: 0 10px 20px rgb(0 0 0 / 12%), 0 1px 5px rgb(0 0 0 / 22%);
        border-radius: 10px;
        background-color: #fff;
    }
    .right-contenu {
        text-align: center;
        background-color: transparent;
        border-radius: 10px;
    }
    /*------------------------ Menu liste des membres (gauche)--------------------*/
    .nav-links li.active:not(.md-header-toolbar) a,
    .nav-links li.active:not(.md-header-toolbar) button,
    .nav-links li:not(.md-header-toolbar) a.active {
        color: #000;
        background-color: #fff;
        box-shadow: inset 0 5px 0 0 var(--gl-theme-accent, #6666c4);
    }
    .nav-links li:not(.md-header-toolbar) a,
    .nav-links li:not(.md-header-toolbar) button {
        padding: 1rem 0.75rem;
        font-size: 14px;
        line-height: 1rem;
        color: #737278;
        border: 0;
        white-space: nowrap;
    }
    .gl-tab-nav-item-active {
        font-weight: 600;
        color: #333238;
        background-color: #fff;
        box-shadow: inset 0 2px 0 0 var(--gl-theme-accent, #6666c4);
    }
    .nav-item {
        width: 50%;
    }
    .gl-tab-nav-item {
        display: flex;
        justify-content: center;
        overflow: hidden;
        transition: box-shadow 100ms linear;
    }
    .nav-link {
        text-decoration: none;
        background-color: transparent;
    }
    .nav-links {
        display: flex;
        padding: 0;
        margin: 0;
        list-style: none;
        height: auto;
        width: 100%;
    }
    /* Boutton ajouter un membre*/
    .ajouter-membre {
        width: 100%;
        text-align: center;
        margin: 0%;
        width: 100%;
        height: 10%;
        text-align: center;
        border-radius: 10px;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    }
    .ajouter-membre:hover {
        color: #fff;
        cursor: pointer;
        background: grey;
    }
    .bouton_tuteur {
        margin: auto;
        width: 50%;
        padding: 2vh;
    }
    .ajouter_utilisateur {
        padding-left: 0%;
    }
    .acces-membre {
        margin-left: 40%;
        border-radius: none;
    }
    .section_membre {
        height: 100%;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
        border-radius: 10px;
        background-color: white;
        margin-top: 3%;
    }
    /* Pop-up JS ajouter un membre*/
    .hidden {
        display: none;
    }
    [role="alertdialog"],
    [role="dialog"] {
        box-sizing: border-box;
        padding: 15px;
        border: 1px solid #000;
        background-color: #fff;
        min-height: 100vh;
    }
    @media screen and (min-width: 640px) {
        [role="alertdialog"],
        [role="dialog"] {
            position: absolute;
            top: 8rem;
            left: 50vw;
            /* move to the middle of the screen (assumes relative parent is the body/viewport) */
            transform: translateX(-50%);
            /* move backwards 50% of this element's width */
            min-width: calc(640px - (15px * 2));
            /* == breakpoint - left+right margin */
            min-height: auto;
            box-shadow: 0 19px 38px rgb(0 0 0 / 12%), 0 15px 12px rgb(0 0 0 / 22%);
            border-radius: 10px;
        }
    }
    .dialog_label {
        text-align: center;
    }
    .dialog_form {
        margin: 15px;
    }
    .dialog_form .label_text {
        box-sizing: border-box;
        padding-right: 0.5em;
        display: inline-block;
        font-size: 16px;
        font-weight: bold;
        width: 30%;
        text-align: right;
    }
    .dialog_form .label_info {
        box-sizing: border-box;
        padding-right: 0.5em;
        font-size: 12px;
        width: 30%;
        text-align: right;
        display: inline-block;
    }
    .dialog_form_item {
        margin: 10px 0;
        font-size: 0;
    }
    .dialog_form_item .wide_input {
        box-sizing: border-box;
        max-width: 70%;
        width: 27em;
    }
    .dialog_form_item .city_input {
        box-sizing: border-box;
        max-width: 70%;
        width: 17em;
    }
    .dialog_form_item .state_input {
        box-sizing: border-box;
        max-width: 70%;
        width: 15em;
    }
    .dialog_form_item .zip_input {
        box-sizing: border-box;
        max-width: 70%;
    }
    .dialog_form_actions {
        text-align: right;
        padding: 0 20px 20px;
    }
    .dialog_close_button {
        float: right;
        position: absolute;
        top: 10px;
        left: 92%;
        height: 25px;
    }
    .dialog_close_button img {
        border: 0;
    }
    .dialog_desc {
        padding: 10px 20px;
    }
    /* native <dialog> element uses the ::backdrop pseudo-element */
    /* dialog::backdrop, */
    .dialog-backdrop {
        display: none;
        position: fixed;
        overflow-y: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    .dialog-backdrop.active {
        display: block;
    }
    .no-scroll {
        overflow-y: auto !important;
    }
    /* this is added to the body when a dialog is open */
    .has-dialog {
        overflow: hidden;
    }
    /* styling for alert-dialog example */
    .notes {
        display: block;
        font-size: 1rem;
        line-height: 1.3;
        min-width: 400px;
        max-width: 100%;
        width: 33%;
    }
    .visually-hidden {
        border: 0;
        clip: rect(0 0 0 0);
        height: auto;
        margin: 0;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
        white-space: nowrap;
    }
    #notes_save {
        display: inline-flex;
        align-items: center;
        gap: 0.5rem;
    }
    #notes_save svg {
        display: block;
        width: 0.75rem;
    }
    #notes_save .icon {
        display: none;
    }
    #notes_save.loading .spinner {
        display: block;
        animation: rotate 2s linear infinite;
    }
    #notes_save.saved .check {
        display: block;
    }
    /*------------------------ Menu information sur le membre (droite)--------------------*/
    .membre {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 60% 50%;
        height: 50%;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
        border-radius: 10px;
        background-color: white;
        margin-left: 3%;
        margin-right: 3%;
    }
    .case-membre {
        display: grid;
        place-items: center;
    }
    .img-tuteur {
        display: none;
        margin: auto;
        width: 70%;
        border-radius: 100%;
        position: initial;
        box-shadow: 0 0 10px 0 rgb(0 0 0 / 20%), 0 5px 5px 0 rgb(0 0 0 / 24%);
    }
    .case-membre_2 {
        display: grid;
        place-items: center;
    }
    .case-3-infos {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        margin: 2%;
        font-size: 100%;
    }
    textarea {
        height: 95%;
        width: 95%;
    }
    .logo-membre {
        height: 90%;
    }
    .text-complementaire {
        height: 90%;
        margin-left: 5%;
        border-radius: 10px;
    }
    .cns {
        margin: auto;
        margin-top: 2%;
        color: black;
        font-size: 100%;
        border-radius: 10px;
        background-color: #fff;
        width: 90%;
        text-align: center;
    }
    .cns:hover {
        color: #fff;
        cursor: pointer;
        background: linear-gradient(101deg, rgb(255, 198, 76) 0%, rgb(69, 45, 253) 100%);
    }
    .certifmembre {
        margin: auto;
        margin-bottom: 5px;
        color: black;
        font-size: 100%;
        border-radius: 10px;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
        text-align: center;
    }
    .certifmembre:hover {
        color: #fff;
        cursor: pointer;
        background: linear-gradient(101deg, rgb(255, 198, 76) 0%, rgb(69, 45, 253) 100%);
    }
    .deroulant>a::after {
        content: " ▼";
        font-size: 12px;
    }
    nav ul {
        list-style-type: none;
    }
    .titre_list {
        color: #007bff;
        content: " ▼";
        margin: auto;
    }
    .sous {
        display: none;
        background-color: white;
        width: 80%;
        margin: auto;
        position: relative;
    }
    nav>ul li:hover .sous {
        display: block;
    }
    nav ul li ul li {
        display: block;
        width: 100%;
    }
    button {
        display: block;
        padding: 5px 10px;
        border-radius: 10px;
        border: none;
        background-color: #007bff;
        cursor: pointer;
        transition: all 0.3s;
        margin: 0.5px;
        color: #fff;
    }
    button:hover {
        background-color: #fec107;
    }
    img.icone-ajouter-membre {
        width: 10%;
        margin-right: 5px;
    }
}


/*
        _____________________________________________________________
        _____________________________________________________________
        _____________________________________________________________
        _____________________________________________________________
        _____________________________________________________________
        _____________________________________________________________
        _____________________________________________________________
        _____________________________________________________________
        _____________________________________________________________
        _____________________________________________________________
        _____________________________________________________________
        _____________________________________________________________
        _____________________________________________________________
        _____________________________________________________________
        _____________________________________________________________
        _____________________________________________________________
        _____________________________________________________________
        _____________________________________________________________
        _____________________________________________________________
        _____________________________________________________________
        _____________________________________________________________
        _____________________________________________________________

    */

@media screen and (max-width: 730px) {
    html {
        font-size: 10px;
        height: 100%;
    }
    header {
        height: 7vh;
    }
    main {
        height: 85vh;
        margin: 2%;
    }
    .deroulant>a::after {
        content: " ▼";
        font-size: 12px;
    }
    nav ul {
        list-style-type: none;
    }
    .sous {
        display: none;
        background-color: white;
        width: 80%;
        margin: auto;
        position: relative;
    }
    nav>ul li:hover .sous {
        display: block;
    }
    nav ul li ul li {
        display: block;
        width: 100%;
    }
}