* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (min-width: 1250px) {


    body {
        min-height: 100vh;
        background: linear-gradient(0deg, rgba(255, 198, 76, 1) 0%, rgba(69, 45, 253, 1) 100%);
        font-family: Inter var, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    }


    main {
        min-height: 85vh;
        margin: 2%;
        border-radius: 10px;
    }

    .chat_all {
        box-shadow: 0 0 12px 12px rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
        margin-top: 5%;
        width: 100vh;
        height: 80vh;
        padding: 5%;
        background-color: white;
        margin: auto;
        border-radius: 10px;
    }

    .chat_title {
        display: flex;
        padding: 1%;
    }

    .chat_svg {
        display: inline-block;
        font-size: inherit;
        height: 1em;
        overflow: visible;
        padding-right: 1%;
    }

    .chat_list_msg {
        border: solid 1px;
        border-radius: 10px;
        width: 100%;
        height: 60%;
        padding: 2%;
        overflow-y: scroll;
    }

    .chat_img_L {
        width: 5%;
        margin-right: 7px;
    }

    .chat_img_R {
        width: 5%;
        margin-left: 7px;
    }

    .chat_envoi_msg {
        height: 40%;
        margin-top: 10%;
    }

    .chat_msgL {
        display: flex;
        align-items: flex-end;
        margin-bottom: 10px;
    }

    .chat_autre {
        text-align: left;
        min-width: 60px;
        max-width: 700px;
        padding: 14px 18px;
        margin-right: 10%;
        background-color: #e6e5e5;
        border-radius: 16px 16px 16px 0;
    }

    .chat_msgR {
        display: flex;
        align-items: flex-end;
        flex-direction: row-reverse;
        margin-bottom: 10px;
    }

    .chat_vous {
        text-align: left;
        margin-left: 10%;
        min-width: 60px;
        max-width: 700px;
        padding: 14px 18px;
        background-color: #559bf6;
        color: #fff;
        border-radius: 16px 16px 0 16px;
    }

    .chat_info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }

    .chat_nomm {
        margin-right: 40px;
        font-weight: bold;
    }

    .chat_datem {
        font-size: 0.85em;
    }

    .chat_send {
        padding: 5px 15px;
        background: rgb(0, 196, 65);
        color: #fff;
        cursor: pointer;
        border-radius: 7px;
    }

    .chat_messages {
        width: 100%;
        border-radius: 10px;
        height: 30px;
    }

    .chat_sujet {
        width: 100%;
        border-radius: 10px;
        margin-bottom: 7px;
    }

    .chat_txt_msg {
        display: flex;
    }

    .chat_retour {
        width: 1%px;
        height: 1%
    }

    .chat_retour {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        padding: 15px 25px;
        border-radius: 10px;
        font-size: 12px;
        border: none;
        color: black;
        background-color: rgb(202, 196, 196);
        cursor: pointer;
        transition: all 0.3s;
    }

    button.chat_retour:hover {
        background-color: #0069d9;
    }



    a {
        text-decoration: none;
        color: black;
    }
}




/*
        _____________________________________________________________
        _____________________________________________________________
        _____________________________________________________________
        _____________________________________________________________
        _____________________________________________________________
        _____________________________________________________________
        _____________________________________________________________
        _____________________________________________________________
        _____________________________________________________________
        _____________________________________________________________
        _____________________________________________________________
        _____________________________________________________________
        _____________________________________________________________
        _____________________________________________________________
        _____________________________________________________________
        _____________________________________________________________
        _____________________________________________________________
        _____________________________________________________________
        _____________________________________________________________
        _____________________________________________________________
        _____________________________________________________________
        _____________________________________________________________

    */


@media screen and (max-width: 1250px) {


    body {
        min-height: 100vh;
        background: linear-gradient(0deg, rgba(255, 198, 76, 1) 0%, rgba(69, 45, 253, 1) 100%);
        font-family: Inter var, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    }

    main {
        min-height: 85vh;
        margin: 2%;
        border-radius: 10px;
    }


    .chat_all {
        box-shadow: 0 0 12px 12px rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
        margin: auto;
        margin-top: 5%;
        width: 65vh;
        height: 70vh;
        padding: 5%;
        background-color: white;
        border-radius: 10px;
    }

    .chat_title {
        display: flex;
        padding: 1%;
    }

    .chat_svg {
        display: inline-block;
        font-size: inherit;
        height: 1em;
        overflow: visible;
        padding-right: 1%;
    }

    .chat_list_msg {
        border: solid 1px;
        border-radius: 10px;
        width: 100%;
        height: 60%;
        padding: 2%;
        overflow-y: scroll;
    }

    .chat_img_L {
        width: 5%;
        margin-right: 7px;
    }

    .chat_img_R {
        width: 5%;
        margin-left: 7px;
    }

    .chat_envoi_msg {
        height: 40%;
        margin-top: 10%;
    }

    .chat_msgL {
        display: flex;
        align-items: flex-end;
        margin-bottom: 10px;
    }

    .chat_autre {
        text-align: left;
        min-width: 60px;
        max-width: 700px;
        padding: 14px 18px;
        margin-right: 10%;
        background-color: #e6e5e5;
        border-radius: 16px 16px 16px 0;
    }

    .chat_msgR {
        display: flex;
        align-items: flex-end;
        flex-direction: row-reverse;
        margin-bottom: 10px;
    }

    .chat_vous {
        text-align: left;
        margin-left: 10%;
        min-width: 60px;
        max-width: 700px;
        padding: 14px 18px;
        background-color: #559bf6;
        color: #fff;
        border-radius: 16px 16px 0 16px;
    }


    .message-chat {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        justify-content: center;
    }

    .chat_info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }

    .chat_nomm {
        margin-right: 40px;
        font-weight: bold;
    }

    .chat_datem {
        font-size: 0.85em;
    }

    .chat_send {
        padding: 5px 15px;
        background: rgb(0, 196, 65);
        color: #fff;
        cursor: pointer;
        border-radius: 7px;
    }

    .chat_messages {
        width: 100%;
        border-radius: 10px;
        height: 30px;
    }

    .chat_sujet {
        width: 100%;
        border-radius: 10px;
        margin-bottom: 7px;
    }

    .chat_txt_msg {
        display: flex;
    }

    .chat_retour {
        width: 1%px;
        height: 1%
    }

    .chat_retour {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        padding: 20px 30px;;
        border-radius: 10px;
        font-size: 12px;
        border: none;
        color: black;
        background-color: rgb(202, 196, 196);
        cursor: pointer;
        transition: all 0.3s;
    }

    button.chat_retour:hover {
        background-color: #0069d9;
    }



    a {
        text-decoration: none;
        color: black;
    }



}




/*
        _____________________________________________________________
        _____________________________________________________________
        _____________________________________________________________
        _____________________________________________________________
        _____________________________________________________________
        _____________________________________________________________
        _____________________________________________________________
        _____________________________________________________________
        _____________________________________________________________
        _____________________________________________________________
        _____________________________________________________________
        _____________________________________________________________
        _____________________________________________________________
        _____________________________________________________________
        _____________________________________________________________
        _____________________________________________________________
        _____________________________________________________________
        _____________________________________________________________
        _____________________________________________________________
        _____________________________________________________________
        _____________________________________________________________
        _____________________________________________________________

    */

@media screen and (max-width: 730px) {

    html {
        font-size: 10px;
    }

    main {
        height: 100%;
        margin: 2%;
    }

    .chat_retour {
        padding: 10px 20px;
   
    }



    .chat_all {
        margin-top: 5%;
        box-shadow: 0 0 12px 12px rgb(0 0 0 / 20%), 0 5px 5px 0 rgb(0 0 0 / 24%);
        width: 40vh;
        height: 65vh;
        background-color: white;
        border-radius: 10px;
    }





}